<div class="mx-2">
    <div class="mx-auto w-100 rounded py-2 px-3 theme-border theme-bg-secondary">
        <%= form_with model: @chat do |form| %>
            <div class="d-flex">
                <%= form.text_area :input,
                    class: "prompt p-0 bg-transparent shadow-none f-normal flex-grow-1 border-0 theme-text-color p-2",
                    id: "prompt",
                    maxlength: "100000",
                    placeholder: "Type a question"
                %>
            </div>
            <%= form.submit %>
        <% end %>                   
    </div>
</div>
