/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root {
  --theme-border-color: lightgrey;
  --theme-bg-secondary: #f1f0f0;
  --theme-text-color: #333;
}

.theme-border-bottom {
  border-bottom: 1px solid var(--theme-border-color);
}

.theme-border-end {
  border-right: 1px solid var(--theme-border-color) !important;
}

.theme-bg-secondary {
  background-color: var(--theme-bg-secondary) !important;
}

.theme-border {
  border: 1px solid var(--theme-border-color) !important;
}

.theme-text-color {
   color: var(--theme-text-color) !important;
}

.f-normal {
  font-size: 1rem !important;
}